.header{
    width: 80%;
    margin: 40px auto 20px auto;
  }
  
  .header h1{
    color: #999999;
    font-weight: lighter;
    display: inline;
  }

  .headerfilter{
    float: right;
    margin-top: -15px;
    padding: 0;
  }
  
  .offline td.mat-cell:last-child{
    color: gray;
  }
  
  .online td.mat-cell:last-child{
    color: #307c00;
  }
  
  table {
    width: 80%;
    margin: 15px auto;
    border-spacing: 0;
  }
  
  th.mat-sort-header-sorted {
    color: black;
  }
  
  td.mat-cell, th.mat-header-cell{
    padding: 15px 0px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    text-align: left;
  }

  td.mat-cell:first-child, th.mat-header-cell:first-child{
    padding-left: 15px; 
  }
  
  td.mat-cell:last-child, th.mat-header-cell:last-child{
    padding-right: 15px;
  }
  
  .mat-row:hover{
    background-color: aliceblue;
  }

.dismissed0, .liked0{
  opacity: 0.2;
}
