<div class="header"><h1>Activities</h1></div>

<table class="mat-table mat-elevation-z8">
    <tr class="mat-header-row">
        <th class="mat-header-cell">ID</th>
        <th class="mat-header-cell">Timestamp</th>
        <th class="mat-header-cell center">Liked</th>
        <th class="mat-header-cell center">Dismissed</th>
        <th class="mat-header-cell">User</th>
        <th class="mat-header-cell">Location</th>
    </tr>

    <tr *ngFor="let activity of activities" class="mat-row">
        <td class="mat-cell">{{activity.id}}</td>
        <td class="mat-cell">{{activity.timestamp}}</td>
        <td class="mat-cell"><mat-icon svgIcon="thumbs-up" class="liked{{activity.liked}}"></mat-icon></td>
        <td class="mat-cell"><mat-icon svgIcon="visibility-off" class="dismissed{{activity.dismissed}}"></mat-icon></td>
        <td class="mat-cell">{{activity.userId}} - {{activity.userName}}</td>
        <td class="mat-cell">{{activity.locationId}} - {{activity.locationDesc}}</td>
    </tr>
  </table>
