<div class="header">
    <h1>Users</h1>

    <div class="headerfilter">
        <mat-form-field>
            <mat-select placeholder="User Location">
            <mat-option (click)="locSelect('all')" value="all">All</mat-option>
            <mat-option (click)="locSelect('at')" value="at">At a location</mat-option>
            <mat-option (click)="locSelect('out')" value="out">Out of location</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
</div>

<button (click)="updateTable()" mat-fab id="buttRefresh">
    <mat-icon class="sml" svgIcon="refresh"></mat-icon>
</button>

<table class="mat-table mat-elevation-z8">
    <tr class="mat-header-row">
        <th class="mat-header-cell">ID</th>
        <th class="mat-header-cell">Name</th>
        <th class="mat-header-cell">Guest</th>
        <th class="mat-header-cell">Current Location</th>
        <th class="mat-header-cell">Device</th>
        <th class="mat-header-cell">OS (Version)</th>
    </tr>
  
    <tr *ngFor="let user of users" class="mat-row">
        <ng-container *ngIf="!locFilter || (option == 'at' && user.curLocDesc) || (option == 'out' && !user.curLocDesc)">
            <td class="mat-cell">{{user.id}}</td>
            <td class="mat-cell">{{user.name}}</td>
            <td class="mat-cell">{{user.isGuest}}</td>
            <td class="mat-cell">{{user.curLocId}} {{user.curLocDesc}}</td>
            <td class="mat-cell">{{user.deviceModel}}</td>
            <td class="mat-cell">{{user.deviceOs}} ({{user.deviceVersion}})</td> 
        </ng-container>
    </tr>
  </table>
