.header{
  width: 80%;
  margin: 40px auto 20px auto;
}

.header h1{
  color: #999999;
  font-weight: lighter;
  display: inline;
}

.headerfilter{
  float: right;
  margin-top: -15px;
  padding: 0;
}

.topMenu{
  margin-left: 30px;
  color: #999999;
}

#buttRefresh{
  position: fixed;
  bottom: 20px;
  right: 3%;
  background-color: #673ab7;
  color: #ffffff;
}

#buttReset{
  position: fixed;
  bottom: 85px;
  right: 3%;
  margin: 8px;
}

td.statusval{
  min-width: 60px;
}

.offline td.statusval{
  color: gray;
}

.online td.statusval{
  color: #307c00;
}

.free td.statusval{
  color: #235a00;
}

.occupied td.statusval{
  color: #B71C1C;
}

table {
  width: 80%;
  margin: 15px auto;
  border-spacing: 0;
}

th.mat-sort-header-sorted {
  color: black;
}

th.mat-header-cell{
  padding: 15px 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: left;
}

td.mat-cell{
  padding: 3px 0px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  text-align: left;
}

td.seatStatus{
  min-width: 45px;
}


td.mat-cell:first-child, th.mat-header-cell:first-child{
  padding-left: 15px; 
}

td.mat-cell:last-child, th.mat-header-cell:last-child{
  padding-right: 0px;
  width: 5px;
}

td.mat-cell mat-icon{
  color: #ffffff;
}

.mat-row:hover{
  background-color: aliceblue;
}

.mat-row:hover mat-icon{
  color: #666666;
}