<div class="header">
  <h1>Locations</h1> 

  <div class="headerfilter">
    <mat-form-field>
      <mat-select placeholder="Status">
        <mat-option (click)="onSelect('all')" value="all">All</mat-option>
        <mat-option (click)="onSelect('online')" value="online">Online</mat-option>
        <mat-option (click)="onSelect('offline')" value="offline">Offline</mat-option>
      </mat-select>
    </mat-form-field>
  </div>
</div>

<button (click)="updateTable()" mat-fab id="buttRefresh">
  <mat-icon class="sml" svgIcon="refresh"></mat-icon>
</button>

<button (click)="freeSeats()" mat-mini-fab id="buttReset">
  <mat-icon class="sml" svgIcon="reset"></mat-icon>
</button>

<table class="mat-table mat-elevation-z8">
  <tr class="mat-header-row">
    <th class="mat-header-cell">ID</th>
    <th class="mat-header-cell">Description</th>
    <th class="mat-header-cell">Seat</th>
    <th class="mat-header-cell">Parent</th>
    <th class="mat-header-cell">Type</th>
    <th class="mat-header-cell">Status</th>
    <th class="mat-header-cell"></th>
  </tr>
  
  <tr *ngFor="let location of locations" class="mat-row {{location.status}}">
    <ng-container *ngIf="!filtered || location.status == option">
      <td class="mat-cell">{{location.id}}</td>
      <td class="mat-cell">{{location.description}}</td>
      <td class="mat-cell seatStatus">{{location.seatStatus}}</td>
      <td class="mat-cell">{{location.parentId}}</td>
      <td class="mat-cell">{{location.locationtype}}</td>
      <td class="mat-cell statusval">{{location.status}}</td>
      <td class="mat-cell">
          <button mat-icon-button [matMenuTriggerFor]="menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item disabled>
                <mat-icon>edit</mat-icon>
                <span>Edit</span>
              </button>
              <button mat-menu-item disabled>
                <mat-icon>lock_open</mat-icon>
                <span>Free Seats</span>
              </button>
            </mat-menu>
      </td>
    </ng-container>
  </tr>
</table>
